<mat-card class="mt-3">
  <mat-action-list>
    <div mat-subheader>Menu</div>
    <button mat-list-item routerLink="/admin">
      <mat-icon mat-list-icon>dashboard</mat-icon> Inicio
    </button>

    <button mat-list-item routerLink="/admin/registrar-recompensa">
      <mat-icon mat-list-icon>card_giftcard</mat-icon> Agregar Recompensa
    </button>
    
    <button mat-list-item routerLink="/admin/registrar-residuo">
      <mat-icon mat-list-icon>delete_outline</mat-icon> Registrar Residuo
    </button>

    <button mat-list-item routerLink="/admin/ver-recompensa">
      <mat-icon mat-list-icon>visibility</mat-icon> Ver Recompensa
    </button>
    
    <button mat-list-item routerLink="/admin/ver-residuo">
      <mat-icon mat-list-icon>visibility</mat-icon> Ver Residuo
    </button>
  </mat-action-list>
</mat-card>
