<div class="sidebar">
  <mat-action-list>
    <div class="sidebar-title">Menú</div>


    <button routerLink="/admin/registrar-recompensa">
      <i class="fa-solid fa-gift"></i> Agregar Recompensa
    </button>

    <button routerLink="/admin/registrar-residuo">
      <i class="fa-solid fa-trash"></i> Registrar Residuo
    </button>

    <button routerLink="/admin/ver-recompensa">
      <i class="fa-solid fa-eye"></i> Ver Recompensa
    </button>

    <button routerLink="/admin/ver-residuo">
      <i class="fa-regular fa-eye"></i> Ver Residuo
    </button>
  </mat-action-list>
</div>
