.custom-toolbar {
  color: #f9fff9;
  background-color: #46B424;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.custom-toolbar a {
  text-decoration: none;
  color: inherit;
}

.custom-toolbar span {
  font-size: 20px;
  font-weight: bold;
  color: #f9fff9; /* Color del título */
  background-color: transparent; /* Fondo transparente para el título */
  padding: 5px 10px; /* Ajuste de relleno para el título */
  border-radius: 5px; /* Bordes redondeados para el título */
  transition: background-color 0.3s; /* Transición suave para el efecto de fondo */
}

.custom-toolbar span:hover {
  background-color: #1b5e20; /* Color de fondo al pasar el cursor sobre el título */
}

.right-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.user-info span {
  font-weight: bold;
  color: #f9fff9;
  font-size: 16px;
}

.user-info mat-icon {
  color: #080808;
}

button {
  color: #0c0c0c;
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #1b5e20;
}
