<mat-toolbar style="color: rgb(249, 255, 249); background-color: green" class="custom-toolbar">
  <div>
    <a [routerLink]="'/'" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"></a>
    <span>RECICLA UPAO</span>
  </div>

  <div class="right-buttons">
    <!-- Botón Iniciar Sesión/Cerrar Sesión -->
    <button *ngIf="login.isLoggedIn()" mat-button (click)="logout()">Cerrar sesión</button>
    <button *ngIf="!login.isLoggedIn()" mat-button [matMenuTriggerFor]="menuRegistrar">Iniciar sesión</button>
   
    <!-- Menú Iniciar Sesión -->
    <mat-menu #menuRegistrar="matMenu">
      <button mat-menu-item routerLink="login">Iniciar Sesión</button>
      <button mat-menu-item routerLink="signup">Crear cuenta</button>
    </mat-menu>

  </div>
</mat-toolbar>
