.recompensa-card {
    max-width: 300px; /* Ajusta el ancho máximo de la tarjeta */
    margin: 10px; /* Espacio alrededor de cada tarjeta */
  }
  
  .recompensas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  img[mat-card-image] {
    width: 300px;  /* Ancho fijo */
    height: 300px; /* Altura fija */
    object-fit: cover; /* Para mantener las proporciones de la imagen */
}

  
  .titulo-recompensas {
    font-size: 24px; /* Tamaño de fuente del título */
    color: #333; /* Color del texto del título */
    margin-bottom: 20px; /* Espaciado inferior del título */
  }
  
  