
<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <mat-card>
        <div class="container text-center">
          <img src="../../../assets/icon.png" width="100" height="100">
        </div>

        <h1 class="text-center">Registrate</h1>

        <form [formGroup]="signupForm" (ngSubmit)="formSubmit()">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" placeholder="Digite su nombre">
            <mat-error *ngIf="signupForm.get('nombre')!.invalid && signupForm.get('nombre')!.touched">El nombre es requerido y solo puede contener letras max. 12 caracteres</mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Edad</mat-label>
            <input matInput formControlName="edad" placeholder="Digite su edad" type="number">
            <mat-error *ngIf="signupForm.get('edad')!.invalid && signupForm.get('edad')!.touched">La edad debe estar entre 16 y 100 años</mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Teléfono</mat-label>
            <input matInput formControlName="telefono" placeholder="Digite su teléfono">
            <mat-hint>El numero de telefono debe ser único</mat-hint>
            <mat-error *ngIf="signupForm.get('telefono')!.invalid && signupForm.get('telefono')!.touched">Ingresar numero teléfono valido</mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="correo" placeholder="Digite su email" type="email">
            <mat-hint>El correo de usuario debe ser único</mat-hint>
            <mat-error *ngIf="signupForm.get('correo')!.invalid && signupForm.get('correo')!.touched">Introduzca un correo válido</mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nombre de usuario</mat-label>
            <input matInput formControlName="username" placeholder="Digite su nombre de usuario">
            <mat-hint>El nombre de usuario debe ser único</mat-hint>
            <mat-error *ngIf="signupForm.get('username')!.invalid && signupForm.get('username')!.touched">El nombre de usuario es requerido max. 9 caracteres</mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="password" placeholder="Digite su contraseña" type="password">
            <mat-error *ngIf="signupForm.get('password')!.invalid && signupForm.get('password')!.touched">La contraseña debe tener al menos 3 caracteres</mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>DNI</mat-label>
            <input matInput formControlName="dni" placeholder="Digite su DNI">
            <mat-hint>El numero de DNI debe ser único</mat-hint>
            <mat-error *ngIf="signupForm.get('dni')!.invalid && signupForm.get('dni')!.touched">Ingresar un numero de DNI valido</mat-error>
          </mat-form-field>

          <div class="container text-center">
            <button type="submit" mat-raised-button>Ingresar</button>
          </div>
        </form>




      </mat-card>
        <br><br><br>
      </div>
    </div>
  </div>
</div>
