.bootstrap-wrapper {
    display: flex;
    justify-content: center; /* Centra el contenido */
    padding: 20px;
  }

  .container {
    padding:20px
  }

  .full-width {
    margin-bottom: 15px;
    width: 100%;
  }

  mat-form-field {
    width: 100%;
    padding: 0 15px; /* Añade padding a los lados de cada campo de formulario */
  }

  /* Estilos adicionales para botones y posibles mensajes de error o información */
  button[type="submit"] {
    background-color: #fdfffc;
    color: #179CBB;
    margin: 10px 10px 10px;
    width: 120px;
  }


  .error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
  }
