.container {
  background-color: #ffffffda;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 24px;
  color: #096754;
}

button[type="submit"] {
  background-color: #fdfffc;
  color: #179CBB;
}