<div class="container mt-4">
    <mat-paginator [length]="totalElements"
                   [pageIndex]="currentPage"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="cargarResiduos($event)">
    </mat-paginator>
  
    <div class="cards-container mt-2">
      <mat-card *ngFor="let residuo of residuos " class="residuo-card mt-4">
        <mat-card-header>
          <mat-card-title>{{ residuo.nombre }}</mat-card-title>
          <mat-card-subtitle>{{ residuo.tipo }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ residuo.descripcion }}</p>
          <p>Puntos: {{ residuo.puntos }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="actualizarResiduo(residuo)">Actualizar</button>
          <button mat-button (click)="eliminarResiduo(residuo.id)">Eliminar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  