<div class="recompensas-container">
    <div class="pie-chart-container">
      <div class="pie-chart-box">
        <div class="pie-chart-title">Actividades Registradas</div>
        <canvas baseChart class="pie-chart"
                [data]="pieChartDataActividades"
                [type]="pieChartType">
        </canvas>
      </div>
  
      <div class="pie-chart-box">
        <div class="pie-chart-title">Puntos por Actividades</div>
        <canvas baseChart class="pie-chart"
                [data]="pieChartDataPuntosActividad"
                [type]="pieChartType">
        </canvas>
      </div>
  
      <div class="pie-chart-box">
        <div class="pie-chart-title">Puntos del Usuario</div>
        <canvas baseChart class="pie-chart"
                [data]="pieChartDataPuntosUsuario"
                [type]="pieChartType">
        </canvas>
      </div>
    </div>
  </div>
  