.grafico-contenedor {
    width: 50%; /* Ajusta esto según tu preferencia */
    height: auto;
    margin: auto; /* Centra el gráfico */
  }
  
  canvas {
    display: block;
    max-width: 100%;
    height: auto; /* Mantiene la proporción del gráfico */
  }
  .chart-container {
    width: 400px; /* Ajusta el ancho según tus necesidades */
    margin: 0 auto;
  }
  
/* ver-estadistica.component.css */
.pie-chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .pie-chart-box {
    flex: 0 0 45%; /* Cada caja ocupa el 45% del ancho del contenedor */
    max-width: 300px; /* Establece un ancho máximo */
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .pie-chart-title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .pie-chart {
    width: 100%; /* El gráfico ocupa todo el ancho de su contenedor */
  }
  