<div class="sidebar">
  <mat-action-list>
    <div class="sidebar-title">Menú</div>


    <button routerLink="/user/registrar-actividad">
      <i class="fa-solid fa-plus"></i> Registrar Actividad
    </button>

    <button routerLink="/user/ver-historial">
      <i class="fa-solid fa-clock-rotate-left"></i> Historial
    </button>

    <button  routerLink="/user/ver-recompensa">
      <i class="fa-solid fa-gift"></i> Recompensas
    </button>

    <button routerLink="/user/crear-comunidad">
      <i class="fa-solid fa-plus"></i> Crear comunidad
    </button>

    <button routerLink="/user/ver-comunidad">
      <i class="fa-solid fa-users"></i> Comunidades
    </button>

    <button routerLink="/user/ver-estadistica">
      <i class="fa-solid fa-chart-pie"></i> Estadísticas
    </button>
    <button routerLink="/user/perfil">
      <i class="fa-solid fa-user"></i> Perfil
    </button>
  </mat-action-list>
</div>
