.custom-box {
    border-radius: 24px;
    border: 0px solid #000;
    background: #CCE5FF;
    text-align: center;
    max-width: 700px; /* Puedes ajustar el valor según tus necesidades */
    margin: 0 auto;
    padding: 15px;
  }
  
  h1 {
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    line-height: normal;
  }
  .form-text{
    color: black;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
  
  }
  .custom-btn {
    background-color: #46B424;
    border-color: #46B424;
  }
  