.container {
  background-color: #ffffffda;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 95%; /* Limita el ancho máximo */
  margin-left: auto;
  margin-right: 50px; /* Centra el contenido horizontalmente */
}

h2 {
  font-size: 24px;
  color: #096754;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px; /* Añade espacio entre los filtros */
}

.filter-item {
  flex: 1 1 30%; /* Los elementos del filtro ocupan un 30% y se ajustan */
  min-width: 200px; /* Asegura un tamaño mínimo */
  margin-bottom: 15px;
}

.mat-expansion-panel {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 40px;
}

.actividad-imagen {
  width: 100px;
  height: 100px;
  margin: 5px;
  object-fit: cover;
  border-radius: 50%;
}

.tabla {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
}

th, td {
  text-align: center;
}

i {
  color: #096754;
}

/* Media queries para pantallas más pequeñas o con escalas superiores */
@media (max-width: 1200px) {
  .filter-item {
    flex: 1 1 45%; /* Los filtros se hacen más grandes en pantallas más pequeñas */
    min-width: 150px;
  }
}

@media (max-width: 768px) {
  .filter-container {
    flex-direction: column;
    align-items: center;
  }

  .filter-item {
    width: 100%; /* Los filtros ocupan todo el ancho en pantallas pequeñas */
  }

  .container {
    max-width: 100%; /* El contenedor ocupa todo el ancho */
  }
}
