<div class="bootstrap-wrapper mt-5">
    <div class="container">
      <div class="row mt20">
        <div class="col-md-6 offset-md-3">
          <mat-card>
            <div class="container text-center mt-4 mb-4">
              <img src="../../../assets/r-historial.png" width="100" height="100">
            </div>
  
            <h1 class="text-center">Registrar actividad reciclaje</h1>
  
            <!-- Agregado el div mb-3 custom-box -->
            <div class="mb-3 custom-box">
              <p class="form-text">Ganaste 40 puntos</p>
            </div>
            <!-- Agregado el div mb-3 custom-box -->
            <div class="mb-3 custom-box">
              <p class="form-text">Ganaste 25 puntos</p>
            </div>
  
            <!-- Agregado el div mb-3 custom-box -->
            <div class="mb-3 custom-box">
              <p class="form-text">Ganaste 87 puntos</p>
            </div>
            <div class="container text-center mb-4 mt-4">
              <button type="submit" mat-raised-button color="primary">Ver mas...</button>
    
            </div>
  
  
          </mat-card>
        </div>
      </div>
    </div>
  </div>