<div class="container-flex general">
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./assets/Sabias-que.png" class="img-fluid">
            </div>
            <div class="carousel-item">
                <img src="./assets/y-que.png" class="img-fluid" alt="...">
                
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="container-flex general">
    <div class="container cuerpo">
        <hr id="choose-start" class="section-divider">
        <div class="text-center welcome-section">
            <h2 class="welcome-title">¡Bienvenido a RECICL♻️UPA🌎!</h2>
            <p class="welcome-message">
                En RECICLAUPAO, nos dedicamos a construir un campus más verde y un planeta más saludable.
                Estamos aquí para animarte a reciclar y recompensar tus esfuerzos con beneficios increíbles.
                ¡Únete a nuestra causa y marca la diferencia!
            </p>
            <p class="welcome-message">
                Descubre cómo puedes contribuir a un futuro más sostenible y aprovechar las recompensas.
                ¡Explora nuestra plataforma para más información!
            </p>
        </div>
    </div>
</div>

<div class="container-flex  beneficio">
    <div class="text-center">
        <h2 class="section-title">Nuestros beneficios</h2>
    </div>
    <div class="container">
        <div class="row justify-content-center text-center benefit-section">
            <div class="col-md-3 benefit-item">
                <div class="circle-box">
                    <img src="./assets/recom.png" alt="Recompensas atractivas">
                </div>
                <h3>Recompensas atractivas</h3>
            </div>
            <div class="col-md-3 benefit-item">
                <div class="circle-box">
                    <img src="./assets/regis.png" alt="Registro fácil">
                </div>
                <h3>Registro fácil</h3>
            </div>
            <div class="col-md-3 benefit-item">
                <div class="circle-box">
                    <img src="./assets/impac.png" alt="Impacto ambiental">
                </div>
                <h3>Impacto ambiental</h3>
            </div>
            <div class="col-md-3 benefit-item">
                <div class="circle-box">
                    <img src="./assets/comu.png" alt="Comunidad comprometida">
                </div>
                <h3>Comunidad comprometida</h3>
            </div>
        </div>
    </div>
</div>