.container {
    text-align: center;
    margin-block: 2em;
   
}

.display-5 {
    font-weight: bold;
    line-height: 1;
    margin-bottom: 3px;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; /* Agregado para espacio entre las tarjetas */
}

.card-img-top {
    max-height: 150px;
    object-fit: cover;
}

.card-body {
    flex-grow: 1;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Número de líneas a mostrar antes de agregar "..." */
    -webkit-box-orient: vertical;
    color: black;
}