<div class="container" id="registrarse">
    <h2 class="display-5">Catálogo de recompensas</h2>
    <div class="row mt-4">
        <div class="col-md-4 mt-4">
            <div class="card mb-4">
                <h3 class="text-center" style="color: black;">Pan de camote</h3>
                <img src="./assets/camote.jpg" class="card-img-top custom-img" alt="Imagen de la receta">
                <div class="card-body">
                    <h3 class="card-title" style="color: black;">Beneficio Nutricional</h3>
                    <p class="card-text">El pan de camote es una excelente fuente de fibra y vitaminas. ¡Canjea esta deliciosa recompensa ahora!</p>
                    <a href="#" class="btn btn-primary btn-sm">Canjear</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-4">
            <div class="card mb-4">
                <h3 class="text-center" style="color: black;">Leche de almendra</h3>
                <img src="./assets/car-leche.jpg" class="card-img-top custom-img" alt="Imagen de la receta">
                <div class="card-body">
                    <h3 class="card-title" style="color: black;">Alternativa Saludable</h3>
                    <p class="card-text">La leche de almendra es una alternativa saludable a la leche tradicional. Descubre sus beneficios y canjea esta recompensa.</p>
                    <a href="#" class="btn btn-primary btn-sm">Canjear</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-4">
            <div class="card mb-4">
                <h3 class="text-center" style="color: black;">Cereal cacao y maca</h3>
                <img src="./assets/car-cereal.jpg" class="card-img-top custom-img" alt="Imagen de la receta">
                <div class="card-body">
                    <h3 class="card-title" style="color: black;">Energía Natural</h3>
                    <p class="card-text">Disfruta de un desayuno lleno de energía con nuestro cereal de cacao y maca. ¡Canjea esta recompensa deliciosa ahora!</p>
                    <a href="#" class="btn btn-primary btn-sm">Canjear</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4 mt-4">
            <div class="card mb-4">
                <h3 class="text-center" style="color: black;">Jabon natural</h3>
                <img src="/assets/car-jabon.jpg" class="card-img-top custom-img" alt="Imagen de la receta">
                <div class="card-body">
                    <h3 class="card-title" style="color: black;">Cuidado de la Piel</h3>
                    <p class="card-text">Nuestro jabón natural es perfecto para el cuidado de la piel. Canjea esta recompensa y cuida tu piel de manera natural.</p>
                    <a href="#" class="btn btn-primary btn-sm">Canjear</a>
                </div>
            </div>
        </div>

        <!-- Agrega tarjetas adicionales aquí según sea necesario -->
        <div class="col-md-4 mt-4">
            <div class="card mb-4">
                <h3 class="text-center" style="color: black;">Plantas naturales</h3>
                <img src="/assets/car-planta.jpg" class="card-img-top custom-img" alt="Imagen de la receta">
                <div class="card-body">
                    <h3 class="card-title" style="color: black;">Conexión con la Naturaleza</h3>
                    <p class="card-text">Añade un toque verde a tu hogar con nuestras plantas naturales. Canjea esta recompensa y crea un ambiente fresco.</p>
                    <a href="#" class="btn btn-primary btn-sm">Canjear</a>
                </div>
            </div>
        </div>
         <!-- Agrega tarjetas adicionales aquí según sea necesario -->
         <div class="col-md-4 mt-4">
            <div class="card mb-4">
                <h3 class="text-center" style="color: black;">Esmalte natural</h3>
                <img src="/assets/car-esmalte.jpg" class="card-img-top custom-img" alt="Imagen de la receta">
                <div class="card-body">
                    <h3 class="card-title" style="color: black;">Belleza Sostenible</h3>
                    <p class="card-text">Transforma tus uñas con nuestro esmalte natural. Canjea esta recompensa y experimenta la belleza sostenible.</p>
                    <a href="#" class="btn btn-primary btn-sm">Canjear</a>
                </div>
            </div>
        </div>
    </div>
</div>